.place__title   {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: place__title;
    margin: 0px;
}

@media screen and (max-width: 906px)    {
    .place__title   {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 710px)    {
    .place__title   {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px)    {
    .place__title   {
        padding: 0px 16px;
    }
}

