.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    margin: 92px 48px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        max-height: 942px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        margin: 88px 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: 288px;
        max-height: 2724px;
        margin: 64px 16px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 12px;
    }
}