.places {
    max-width: 100%;
    padding: 92px 148px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 80px;
}

@media screen and (max-width: 1024px)   {
    .places {
        padding: 92px 48px;
    }
}

@media screen and (max-width: 768px)    {
    .places {
        padding: 88px 24px 0px;
        grid-gap: 72px;
    }
}

@media screen and (max-width: 710px)    {
    .places {
        max-width: 320px;
        padding: 64px 0px;
        grid-gap: 48px;
        grid-auto-rows: min-content;
    }
}