.intro__list {
    max-width: 720px;
    padding: 0px;
    margin-top: 32px;    
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

ul.intro__list li{
    list-style: none;
    display: block;
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
    }

    ul.intro__list li{
        margin: 0px;
    }
}