.lead   {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

@media screen and (max-width: 1024px)   {
    .lead   {
        max-width: 928px;
        padding-top: 48px;

    }
}

@media screen and (max-width: 875px)    {
    .lead   {
        max-width: 875px;
    }
}

@media screen and (max-width: 806px)    {
    .lead   {
        max-width: 806px;
    }
}

@media screen and (max-width: 778px)    {
    .lead   {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px)    {
    .lead   {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px)    {
    .lead   {
        max-width: 320px;
    }
}