  
.cover__subtitle    {
    width: 100%;
    max-width: 360px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    padding-top: 32px;
    z-index: 1;
}

@media screen and (max-width: 320px)    {
    .cover__subtitle    {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}