.header {
    max-width: 100%;
    padding: 28px 48px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2C2F;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    /* border: 2px solid red; */
}

@media screen and (max-width: 393px) {
    .header {
        height: 42px;
        padding: 16px 16px 0px;
    }
}

