.content {
    background-color: #2A2C2F;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}