.lead__title {
    display: flex;
    justify-content: center;
    max-width: 720px;
    max-height: 200px;
    /* margin: 0px 132px; */
    margin: 0px auto;
    font-family: Inter;
    font-style: normal;
    /* border: 2px solid red; */
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 44px; 
        margin: 0px 18px;  
    }
}