.lead__title {
    justify-content: center;
    /* max-width: 720px; */
    width: 90%;
    margin: 0px auto;
    font-family: Inter;
    font-style: normal;
    /* border: 2px solid red; */
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 710px) {
    .lead__title {
        /* max-width: px; */
        font-size: 40px;
        line-height: 44px; 
        margin: 0px 18px;   
    }
}