.footer__links  {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
    max-width: 480px;
    list-style: none;
}

@media screen and (max-width: 487px)    {
    .footer__links  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 385px)    {
    
    .footer__links  {
        padding-bottom: 48px;
    }
}