.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    grid-area: paragraph;
    color: #FFFFFF;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 366px) {
    .place__paragraph {
        max-width: 288px;
        padding: 0px 16px;
    }
}
