.intro  {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    padding: 92px 0px;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 1024px)   {
    .intro  {
        padding: 88px 24px;
    }
}

@media screen and (max-width: 500px)    {
    .intro  {
        padding: 64px 16px;
    }
}