.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 92px 148px;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 48px;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        margin: 64px 16px;
    }
}