.website {
    max-width: 456px;
    height: 46px;
    position: absolute;
    bottom: 0px;
    grid-area: website;
}

@media screen and (max-width: 768px) {
    .website {
        max-width: 352px;
    }
}

@media screen and (max-width: 710px) {
    .website {
        display: none;
    }
}