.lead__subtitle {
    margin: 16px auto 0px;
    color: #FFFFFF;
    justify-content: center;
    max-width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 710px) {
    .lead__subtitle {
        max-width: 678px;
    }
}

@media screen and (max-width: 710px) {
    .lead__subtitle {
        max-width: 288px;
    }
}