.place__link    {
    width: 456px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px)   {
    .place__link    {
        width: 352px;
    }
}