.paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    grid-area: paragraph;
    color: #FFFFFF;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media screen and (max-width: 768px) {
    .paragraph {
        font-size: 16px;
    }
}
