.cover__image   {
    position: relative;
    width: 100%;
    max-width: 1184px;
    box-sizing: border-box;
    height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}