.lead__caption  {
    position: relative;
    left: 0px;
    margin: 8px 0px 0px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 875px)    {
    .lead__caption  {
        margin-left: 24px; 
    }
}

@media screen and (max-width: 320px)    {
    .lead__caption  {
        margin-left: 16px; 
    }
}