.cover__title   {
    margin: 0px;
    width: 100%;
    max-width: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;

}

@media screen and (max-width: 560px)    {
    .cover__title   {
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 500px)    {
    .cover__title   {
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 320px)    {
    .cover__title   {
        font-size: 32px;
        line-height: 35px;
    }
}