.cover__title {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 245px auto 0px;
    z-index: 1;

}

@media screen and (max-width: 1024px)   {
    .cover__title {
        margin: 195px 232px 0px;
    }
}

@media screen and (max-width: 768px)   {
    .cover__title {
        margin: 115px 104px 0px;
    }
}

@media screen and (max-width: 500px)   {
    .cover__title {
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 320px)   {
    .cover__title {
        margin: 33px 16px 0px;
        font-size: 32px;
        line-height: 35px;
    }
}