.paragraph_text {
    width: 484px;
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    .paragraph_text {
        width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .paragraph_text {
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .paragraph_text {
        width: 288px;
        margin: 0px 16px;
    }
}




