.footer {
    width: 100%;
    max-width: 1184px;
    box-sizing: border-box;
    padding: 92px 48px 24px;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    background-color: #2A2C2F;
}

@media screen and (max-width: 385px) {
    .footer {
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 14px;
    }
}