.footer {
    width: 100%;
    max-width: 1184px;
    box-sizing: border-box;
    padding: 92px 24px 0px;
    display: grid;
    justify-self: center;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    background-color: #2A2C2F;
}

@media screen and (max-width: 1188px)    {
    .footer {
        max-width: 1184px;
    }
}

@media screen and (max-width: 768px)    {
    .footer {
        max-width: 768px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 385px)    {
    .footer {
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 14px;
    }
}

@media screen and (max-width: 385px)    {
    .footer {
        justify-self: center;
        padding: 64px 16px 0px;

    }
}