.place__website {
    max-width: 456px;
    height: 46px;
    bottom: 0px;
    grid-area: website;
    align-self: end;
}

@media screen and (max-width: 768px)    {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 710px)    {
    .place__website {
        display: none;
    }
}