.paragraph__second-row {
    grid-area: paragraph__second-row;
    width: 484px;
    height: 100%;
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    .paragraph__second-row {
        width: 456px;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .paragraph__second-row {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .paragraph__second-row {
        max-width: 288px;
        /* max-height: 313px; */
        margin: 0px 16px;
    }
}