.footer__link {
    max-width: 50px;
    max-height: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    margin-right: 18px;
    text-decoration: none;
}

@media screen and (max-width: 385px) {
    .footer__link {
        width: 128px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        /* margin-top: 32px; */
    }
}